-i https://pypi.org/simple/
ansible==2.7.8
attrs==20.2.0
bcrypt==3.2.0
cffi==1.14.3
cryptography==3.2
jinja2==2.11.2
markupsafe==1.1.1
mazer==0.3.0
paramiko==2.7.2
pycparser==2.20
pynacl==1.4.0
pyyaml==5.3.1
semver==2.13.0
six==1.15.0
yamlloader==0.5.5
