-i https://pypi.org/simple/
ansible==2.7.17
attrs==20.3.0
bcrypt==3.2.0
cffi==1.14.5
cryptography==3.4.7
jinja2==2.11.3
markupsafe==1.1.1
mazer==0.3.0
paramiko==2.7.2
pycparser==2.20
pynacl==1.4.0
pyyaml==5.4.1
semver==2.13.0
six==1.15.0
yamlloader==1.0.0
